{% extends "base.html" %}
{% load static %}
{% block title %}LAN - About{% endblock title %}
{% block about_tab %}active{% endblock %}

{% block css %}
    <link href="{% static 'generated_css/about.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <section id="about-us">
        <div class="container text-center">
            <h2>Who Are We?</h2>

            <div class="text">
                <p>We are <strong>Lambda Alpha Nu</strong>, the co-ed social fraternity for students interested in
                    computing and
                    technology at the <strong>University of Texas at Austin</strong>. ΛΑΝ cultivates future startup
                    founders, engineers
                    at top tech companies, graduate students, teaching assistants, front-end developers, and most
                    importantly, good people who are passionate about technology. We are focused on
                    <strong>social</strong> activities
                    and building community in a <strong>laid back</strong>, <strong>inclusive</strong> environment. We
                    accept applications from all students who are interested in tech.
                </p>
            </div>
        </div>
    </section>
    <section id="how-we-do-it" class="primary-color-section">
        <div class="container text-center">
            <h2>What Do We Do?</h2>

            <div class="row">
                <div class="col-md-4">
                    <div class="icon">
                        <i class="fa fa-group"></i>
                    </div>

                    <h3 class="event-header">Rush Group</h3>

                    <p>Join the Spring 2018 Rush Group to get the latest rush updates and events.</p>
                    <a class="btn btn-default"
                       href="https://www.facebook.com/groups/1323210434392547/">Rush Group</a>
                </div>
                <div class="col-md-4">
                    <div class="icon">
                        <i class="fa fa-laptop"></i>
                    </div>

                    <h3 class="event-header">Service</h3>

                    <p>LAN members give back to the community through
                    service partnerships with CoderDojo and other great local charities.</p>
                    <a class="btn btn-default" href="{% url 'events:list' %}">Events</a>
                </div>
                <div class="col-md-4">
                    <div class="icon">
                        <i class="fa fa-coffee"></i>
                    </div>

                    <h3 class="event-header">Social</h3>

                    <p>We like to have fun with kayaking, hiking, bowling, and much more!</p>
                    <a class="btn btn-default" href="{% url 'events:list' %}">Events</a>
                </div>
            </div>
        </div>
    </section>
    <section id="news">
        <div class="container text-center">
            <h2>How do I stay up to date?</h2>
            <div class="text">
                <p>With rush and other events at every semester, you'll want to stay in the loop
                    so you know how to best get to know us and we to know you.</p>
            </div>
            <div class="text row">
                <div class="col-md-4">
                    <div class="icon">
                        <i class="fa fa-facebook"></i>
                    </div>

                    <h3 class="event-header">Facebook Page</h3>

                    <p>Follow our page to keep connected! We post important news and events here.</p>
                    <a class="btn btn-default" href="https://facebook.com/texaslambdaalphanu/">Facebook</a>
                </div>
                <div class="col-md-4">
                    <div class="icon">
                        <i class="fa fa-group"></i>
                    </div>

                    <h3 class="event-header">Rush Group</h3>

                    <p>Join the Spring 2018 Rush Group to get the latest rush updates and events.</p>
                    <a class="btn btn-default"
                       href="https://www.facebook.com/groups/1323210434392547/">Rush Group</a>
                </div>
                <div class="col-md-4">
                    <div class="icon">
                        <i class="fa fa-calendar"></i>
                    </div>

                    <h3 class="event-header">Calendar</h3>

                    <p>Our calendar has all the details of our upcoming public events.</p>
                    <a class="btn btn-default" href="{% url 'events:list' %}">Calendar</a></div>
            </div>
        </div>
    </section>
    <section id="officers" class="dark-section">
        <div class="container text-center">
            <h2>Officers</h2>
            <ul class="nav nav-tabs nav-justified" role="tablist">
                <li role="presentation" class="active">
                    <a href="#current" aria-controls="profile" role="tab" data-toggle="tab">
                        Current
                    </a>
                </li>
                <li role="presentation">
                    <a href="#founders" aria-controls="home" role="tab" data-toggle="tab">
                        Founders
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="current">
                    <ul class="team-members">
 <!--                        <li>
                            <img alt="" src="{% static 'images/team/thomas.jpg' %}"/>
                            <ul class="social">
                            </ul>

                            <h4>Thomas Gaubert</h4>
                            <span class="role">President</span>

                        </li> -->
                        <li>
                            <img alt="" src="{% static 'images/team/christian.jpg' %}"/>
                            <h4>Christian Sweet</h4>
                            <span class="role">President</span>

                        </li>
                        <li>
                            <img alt="" src="{% static 'images/team/hailey.jpg' %}"/>
                            <h4>Hailey Mothershead</h4>
                            <span class="role">VP of Administration</span>

                        </li>
                        <li>
                            <img alt="" src="{% static 'images/team/michael.jpg' %}"/>
                            <ul class="social">
                            </ul>

                            <h4>Michael Zetune</h4>
                            <span class="role">Treasurer</span>
                        </li>
                        <li>
                            <img alt="" src="{% static 'images/team/maria.jpg' %}"/>
                            <ul class="social">
                            </ul>

                            <h4>Maria Ocanas</h4>
                            <span class="role">VP of New Member Services</span>
                        </li>
                        <li>
                            <img alt="" src="{% static 'images/team/chris.jpg' %}"/>
                            <ul class="social">
                            </ul>

                            <h4>Chris Hamill</h4>
                            <span class="role">VP of Social Affairs</span>
                        </li>
                        <li>
                            <img alt="" src="{% static 'images/team/samantha.jpg' %}"/>
                            <ul class="social">
                            </ul>

                            <h4>Samantha Rodriguez</h4>
                            <span class="role">VP of Service Activities</span>
                        </li>
                        <li>
                            <img alt="" src="{% static 'images/team/tarun.jpg' %}"/>
                            <ul class="social">
                            </ul>

                            <h4>Tarun Thummala</h4>
                            <span class="role">VP of Standards</span>
                        </li>
<!--                         <li>
                            <img alt="" src="{% static 'images/team/christian.jpg' %}"/>
                            <ul class="social">
                            </ul>

                            <h4>Christian Sweet</h4>
                            <span class="role">Risk Management</span>
                        </li> -->
                        <li>
                            <img alt="" src="{% static 'images/team/katd.jpg' %}"/>
                            <ul class="social">
                            </ul>

                            <h4>Kat Donovan</h4>
                            <span class="role">Brotherhood</span>
                        </li>
                        <li>
                            <img alt="" src="{% static 'images/team/liam.jpg' %}"/>
                            <ul class="social">
                            </ul>

                            <h4>Liam DeCoste</h4>
                            <span class="role">Historian</span>
                        </li>
                        <li>
                            <img alt="" src="{% static 'images/team/katc.jpg' %}"/>
                            <ul class="social">
                            </ul>

                            <h4>Kat Curtis</h4>
                            <span class="role">Pledge Trainer</span>
                        </li>
                        <li>
                            <img alt="" src="{% static 'images/team/dylan.jpg' %}"/>
                            <ul class="social">
                            </ul>

                            <h4>Dylan Ramage</h4>
                            <span class="role">Pledge Trainer</span>
                        </li>
                        <li>
                            <img alt="" src="{% static 'images/team/jorge.jpg' %}"/>
                            <ul class="social">
                            </ul>

                            <h4>Jorge Rivero</h4>
                            <span class="role">Pledge Trainer</span>
                        </li>
                        <li>
                            <img alt="" src="{% static 'images/team/emilyr.jpg' %}"/>
                            <ul class="social">
                            </ul>

                            <h4>Emily Rude</h4>
                            <span class="role">Marketing</span>
                        </li>
                        <li>
                            <img alt="" src="{% static 'images/team/siwei.jpg' %}"/>
                            <ul class="social">
                            </ul>

                            <h4>Siwei Mao</h4>
                            <span class="role">Webmaster</span>
                        </li>
                        <li>
                            <img alt="" src="{% static 'images/team/alex.jpg' %}"/>
                            <ul class="social">
                            </ul>

                            <h4>Alex Stahl</h4>
                            <span class="role">Capstone Chair</span>
                        </li>
                        <li>
                            <img alt="" src="{% static 'images/team/hannah.jpg' %}"/>
                            <ul class="social">
                            </ul>

                            <h4>Hannah Epperson</h4>
                            <span class="role">Social Board</span>
                        </li>
                        <li>
                            <img alt="" src="{% static 'images/team/peter.jpg' %}"/>
                            <ul class="social">
                            </ul>

                            <h4>Peter Senyszyn</h4>
                            <span class="role">Social Board</span>
                        </li>
                        <li>
                            <img alt="" src="{% static 'images/team/erica.jpg' %}"/>
                            <ul class="social">
                            </ul>

                            <h4>Erica Gunthan</h4>
                            <span class="role">Social Board</span>
                        </li>
                        <li>
                            <img alt="" src="{% static 'images/team/henry.jpg' %}"/>
                            <ul class="social">
                            </ul>

                            <h4>Henry Rossiter</h4>
                            <span class="role">Social Board</span>
                        </li>
                    </ul>
                </div>
                <div role="tabpanel" class="tab-pane" id="founders">
                    <ul class="team-members">
                        <li>
                            <img alt="" src="{% static 'images/team/founders/reid.jpg' %}"/>
                            <ul class="social">
                            </ul>

                            <h4>Reid McKenzie</h4>
                            {#                            <span class="year">Class of 2016</span>#}
                            <span class="role">Alumni</span>
                        </li>
                        <li>
                            <img alt="" src="{% static 'images/team/founders/robert.jpg' %}"/>
                            <ul class="social">
                            </ul>

                            <h4>Robert Lynch</h4>
                            {#                            <span class="year">Class of 2016</span>#}
                            <span class="role">Alumni</span>
                        </li>
                        <li>
                            <img alt="" src="{% static 'images/team/founders/bri.jpg' %}"/>
                            <ul class="social">
                            </ul>

                            <h4>Bri Connelly</h4>
                            {#                            <span class="year">Class of 2016</span>#}
                            <span class="role">Alumni</span>
                        </li>
                        <li>
                            <img alt="" src="{% static 'images/team/founders/andy.jpg' %}"/>
                            <ul class="social">
                            </ul>

                            <h4>Andy Anderson</h4>
                            {#                            <span class="year">Class of 2016</span>#}
                            <span class="role">Alumni</span>
                        </li>
                        <li>
                            <img alt="" src="{% static 'images/team/founders/masha.jpg' %}"/>
                            <ul class="social">
                            </ul>

                            <h4>Maria Belyaeva</h4>
                            {#                            <span class="year">Class of 2016</span>#}
                            <span class="role">Alumni</span>
                        </li>
                        <li>
                            <img alt="" src="{% static 'images/team/founders/dan.jpg' %}"/>
                            <ul class="social">
                            </ul>

                            <h4>Dan Rutledge</h4>
                            {#                            <span class="year">Class of 2016</span>#}
                            <span class="role">Alumni</span>
                        </li>
                        <li>
                            <img alt="" src="{% static 'images/team/founders/david.jpg' %}"/>
                            <ul class="social">
                            </ul>

                            <h4>David Wetterau</h4>
                            {#                            <span class="year">Class of 2016</span>#}
                            <span class="role">Alumni</span>
                        </li>
                        <li>
                            <img alt="" src="{% static 'images/team/founders/greg.jpg' %}"/>
                            <ul class="social">
                            </ul>

                            <h4>Greg Cerna</h4>
                            {#                            <span class="year">Class of 2016</span>#}
                            <span class="role">Alumni</span>
                        </li>
                        <li>
                            <img alt="" src="{% static 'images/team/founders/claudio.jpg' %}"/>
                            <ul class="social">
                            </ul>

                            <h4>Claudio Wilson</h4>
                            {#                            <span class="year">Class of 2016</span>#}
                            <span class="role">Alumni</span>
                        </li>
                        <li>
                            <img alt="" src="{% static 'images/team/founders/josh.jpg' %}"/>
                            <ul class="social">
                            </ul>

                            <h4>Josh Slocum</h4>
                            {#                            <span class="year">Class of 2016</span>#}
                            <span class="role">Alumni</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section id="gallery" class="primary-color-section">
        <div id="gallery-images" class="container text-center">
            <h2>Gallery</h2>
            <ul class="thumbnails">
                <li>
                    <a href="{% static 'images/gallery/coder-dojo-0.jpg' %}" rel="group"
                       class="hoverZoomLink">
                        <img src="{% static 'images/gallery/coder-dojo-0.jpg' %}">
                    </a>
                </li>
                <li>
                    <a href="{% static 'images/gallery/coder-dojo-1.jpg' %}" rel="group"
                       class="hoverZoomLink">
                        <img src="{% static 'images/gallery/coder-dojo-1.jpg' %}">
                    </a>
                </li>
                <li>
                    <a href="{% static 'images/gallery/coder-dojo-2.jpg' %}" rel="group"
                       class="hoverZoomLink">
                        <img src="{% static 'images/gallery/coder-dojo-2.jpg' %}">
                    </a>
                </li>
                <li>
                    <a href="{% static 'images/gallery/coder-dojo-3.jpg' %}" rel="group"
                       class="hoverZoomLink">
                        <img src="{% static 'images/gallery/coder-dojo-3.jpg' %}">
                    </a>
                </li>
                <li>
                    <a href="{% static 'images/gallery/coder-dojo-4.jpg' %}" rel="group"
                       class="hoverZoomLink">
                        <img src="{% static 'images/gallery/coder-dojo-4.jpg' %}">
                    </a>
                </li>
                <li>
                    <a href="{% static 'images/gallery/coder-dojo-5.jpg' %}" rel="group"
                       class="hoverZoomLink">
                        <img src="{% static 'images/gallery/coder-dojo-5.jpg' %}">
                    </a>
                </li>
            </ul>
        </div>
    </section>
{% endblock %}
