{% extends "base.html" %}
{% load static %}
{% block title %}LAN - Rush{% endblock title %}

{% block css %}
    <link href="{% static 'generated_css/about.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <section id="about-us">
        <div class="container text-center">
            <img src="{% static 'images/lan-crest-black.png' %}" width="25%" style="margin-bottom: 20px;"/>
            <h2>Spring 2019 Rush</h2>

            <div class="text">
                <p>Interested in joining LAN? Rush begins next spring!</p>
            </div>

            <a class="btn btn-default" href="{% url 'about' %}">About LAN</a>
            <a class="btn btn-primary" href="https://www.facebook.com/groups/2321081404815217/">Join the Rush Group</a></div>

<!--             <div class="container" align="center">
				<div class="col s12 m4">
					<h4 class="center-align">Rush Schedule</h4>
					<h5>Info Session #1 <small>September 11th, 6:00 PM</small></h5>
					<h5>Info Session #2 <small>September 12th, 6:00 PM</small></h5>
					<h5>Pizza Night <small>September 12th, 7:30 PM</small></h5>
					<h5>Coffee Night <small>September 14th, 7:30 PM</small></h5>
					<h5>Open Party <small>September 15th, 10:00 PM</small></h5>
				</div>

				<a class="btn btn-default" href="{% url 'events:list' %}">Calendar</a>
			</div> -->
        </div>
    </section>
{% endblock %}
