{% extends "base.html" %}
{% load static %}


{% block title %}Register for MADcon{% endblock %}

{% block css %}
    <link href="{% static 'generated_css/datepicker_base.min.css' %}" rel="stylesheet">
{% endblock %}

{% block extra-js %}
    <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <script src="{% static 'js/bootstrap-material-datetimepicker.js' %}"></script>
{#    <script>#}
{#        $('#id_graduation_date').bootstrapMaterialDatePicker({#}
{#            time: false, format: "YYYY-MM-DD", monthPicker: true#}
{#        });#}
{#    </script>#}
    <script>
        $('#id_graduation_date').bootstrapMaterialDatePicker({weekStart: 0, time: false, format: "YYYY-MM-DD"});
    </script>
{% endblock %}

{% load crispy_forms_tags %}
{% block content %}
    <div class="container">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">Register for MADcon</h1>
            </div>
            <div class="panel-body">
                <p>Note: No information you provide will have an impact on your acceptance, MADcon is first come first
                    serve.
                </p>
                <form class="form-horizontal" method="post" action="{% url 'madcon:register' %}"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    {{ user_resume_form | crispy }}

                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" class="btn btn-primary">Confirm</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
{% endblock content %}

