{% extends "base.html" %}
{% load static %}

{% block css %}
    <link href="{% static 'generated_css/madcon.min.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}MADcon Registration Status{% endblock %}

{% load crispy_forms_tags %}
{% block content %}
    <div class="container registration-status-page">
        <p>Your registration is currently <span class="status-text">{{ registration.get_status_display }}</span></p>
        {% if registration %}
            {% if registration.status == 'P' or registration.status == 'W'  %}
                <a class="btn btn-primary" href="{% url 'madcon:register' %}">Modify Application</a>
            {% endif %}
            {% if registration.status == 'A' %}
                <form class="form-horizontal" method="post" action="{% url 'madcon:status' %}">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="hidden" name="registration_id" value="{{ registration.id }}"/>
                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" class="btn btn-primary">Confirm Attendance</button>
                        </div>
                    </div>
                </form>
            {% endif %}
        {% endif %}
    </div>
{% endblock content %}

