////////////////////////////////
//Colors//
////////////////////////////////

// Note: If primary changes, need to be updated for:
//  datetimepicker css file
//  base.html theme-color
$primary: #2196f3;
$primary-dark: #145991;
$primary-light: #d0f0ff;
$primary-bg: #FAFAFA;
$primary-text: #5D5D5D;

$labs-purple: #694489;

$white: #fff;
$avatar-empty: #C0C0C0;
$off-white: #FFFBF5;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;
$charcoal: #36454f;
