@import "base";
@import "device";

.labs-page section.apps-background {
  background-image: url("../images/bg/app-icon-tile.png");
}

.labs-page section.dark-section {
  background-color: #272042;
}

section.labs-color-section {
  background-color: $labs-purple;
  color: $white;

  h1,
  h2,
  h3,
  h4 {
    color: inherit;
  }
}

section.labs-head {
  overflow: hidden;
  /* Grid pattern over a purple background with a light gradient at an angle from the left*/
  background: repeating-linear-gradient(180deg, transparent, transparent 1px, rgba(255, 255, 255, .05) 1px, rgba(255, 255, 255, .05) 2px, transparent 3px, transparent),
  repeating-linear-gradient(90deg, transparent, transparent 1px, rgba(255, 255, 255, .05) 1px, rgba(255, 255, 255, .05) 2px, transparent 3px, transparent),
  linear-gradient(128deg, rgba(170, 105, 125, .7) 0%, rgba(80, 80, 80, 0) 40%, rgba(0, 0, 0, .15) 100%),
  #694489;
  background-color: $labs-purple;
  background-size: 5px 5px, 5px 5px, cover, cover;
  color: $white;
  text-align: center;
  position: relative; /* Bubbles canvas is an absolutely positioned child, so this is important! */

  h1,
  h2,
  h3,
  h4 {
    color: inherit;
  }
}

#bubbles {
  height: 100%;
  top: 0;
  position: absolute;
  width: 100%;
  display: block;
}

.labs-head .logo {
  max-height: 100px;
  margin: 0 auto;
  margin-bottom: 12px;
  width: 100%; /* Necessary for Chrome to give the element non-zero height */
}

.app-figure h2 {
  margin-bottom: 0;
}

.app-figure h3 {
  opacity: .5;
}

.app-figure img {
  max-height: 500px;
  margin: 0 auto;
  display: block;
}

dl {
  text-align: left;
}

dt {
  font-weight: 900;
}

dd {
  margin-bottom: 24px;
}

.platform-icons {
  padding-left: 0;
}

.platform-icons li {
  display: inline-block;
  margin-right: 8px;
}

.idea-submission .button {
  margin: 0 auto;

}

.apps-background {
  background: #efefef url("../images/bg/app-icon-tile.png");
}

@media screen and (min-width: 900px) {
  /*--- = Labs  */
  .labs-head .logo {
    max-height: 200px;
    margin-bottom: 24px;
  }
  .labs-head {
    font-weight: 400;
    font-size: 24px;
  }
  .app-figure h2 {
    text-align: left;
    padding: 0;
  }
}
