@import "about";

.mad-con-head {
  padding-top: 15px;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/bg/madcon_bg.min.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  * {
    color: white;
  }

  p {
    font-size: 20px;
  }

  .man-con-logo-circle {
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .man-con-logo-circle .mad-con-logo, .man-con-logo-circle {
    max-height: 200px;
    max-width: 200px;
    margin: 0 auto;
    width: 100%;
    /* Necessary for Chrome to give the element non-zero height */
  }
}

.registration-status-page p {
  text-align: center;
  font-size: 18px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.registration-status-page .status-text {
  font-size: 24px;
  display: block;
}

ul.thumbnails {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -webkit-justify-content: flex-start;
  flex-flow: row wrap;
  justify-content: center;
  list-style: none;
  padding: 0px;
}

.thumbnails a {
  display: block;
}

.thumbnails li {
  position: relative; /* Required for absolutely positioned pseudo-element */
  margin-bottom: 24px;
  -webkit-flex: 1 100%;
  flex: 1 100%;

  box-sizing: border-box;
}

.thumbnails img {
  display: block;
  margin: 0 auto;
}

#gallery-images .thumbnails li {
  -webkit-flex: 0 100%;
  flex: 0 100%;
  overflow: hidden;
  background-color: black;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

#gallery-images .thumbnails img {
  transition: .3s;
  width: 100%;
}

#gallery-images .thumbnails li:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  opacity: .75;
}

#gallery-images #image-filter {
  margin-bottom: 24px;
}

#gallery-images .text {
  margin-bottom: 24px;
}

.fancybox-wrap {
  z-index: 1000;
}

//@media screen and (min-width: 1220px) {
//  #gallery-images .thumbnails li {
//    max-height: 450px;
//  }
//}

@media screen and (min-width: 400px) {
  #gallery-images .thumbnails li {
    -webkit-flex: 0 50%;
    flex: 0 50%;
  }
}

@media screen and (min-width: 900px) {
  #gallery-images .thumbnails li {
    -webkit-flex: 0 25%;
    flex: 0 25%;
  }
}

@media screen and (min-width: 900px) {
  /*--- = Labs  */
  .man-con-logo-circle, .mad-con-logo {
    max-height: 300px;
    max-width: 300px;
  }
}

