@import "base";

#umad-callout {
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: url('../images/bg/shield-tile.png');
  background-size: 15em auto, auto auto;
  background-position: center -1em, 0% 0%;
  text-align: center;
}

#umad-callout .container {
  margin: 0 auto;
  padding-top: 20px;
  display: inline-block;
}

.umad-block {
  display: flex;
  margin: 0 auto;
}

.umad-block .text-side {
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
  max-width: 200px;
  display: flex;
}

#umad-callout .emblem {
  display: block;
  max-height: 150px;
}

/* = Workshops
-------------------------------------------------------------- */

.instructors {
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.instructors ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-bottom: 12px;
  list-style: none;
  padding-left: 0;
}

.instructors li {
  max-width: 150px;
  padding: 0 15px;
}

.instructors img {
  border-radius: 50%;
  margin-bottom: 6px;
  max-width: 100%;
}

.empty-img {
  width: 0;
  height: 0;
  padding: 62px;
  background-color: $avatar-empty;
}

.instructors h3 {
  line-height: 2;
  padding-bottom: 6px;
}

.instructors h4 {
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
}

.courses {
  text-align: left;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
}

.courses a {
  flex: 1 1 300px;
  margin-bottom: 20px;
  text-decoration: none;
  color: inherit;
}

.courses li {
  background-color: rgba(0, 0, 0, .1);
  border-top: 5px gray solid;
  padding: 5px 10px 10px 10px;
  margin: 0 10px;
}

.courses li.android {
  border-color: green;
}

.courses li.ios {
  border-color: blue;
}

.courses li.web {
  border-color: purple;
}

.courses span {
  display: block;
}

.courses .time {
  opacity: .7;
}
