{% extends "base.html" %}
{% load static %}{% load i18n %}
{% block title %}Events{% endblock %}

{% block css %}
    <link href="{% static 'generated_css/sortable_base.min.css' %}" rel="stylesheet">
{% endblock %}

{% block extra-js %}
    <script src="{% static 'js/bootstrap-sortable.min.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="events">
        {% for event in event_list %}
            <div class="panel card container">
                <div class="row">
                    <div class="card-content col-md-8 col-xs-7">
                        <h1 class="card-title">{{ event.title }}</h1>
                        <p>{{ event.location }}</p>
                        <p>{{ event.start_time }}</p>
                    </div>
                    <div class="card-media col-md-4 col-xs-1">
                        <img src="{{ event.image_url }}"/>
                    </div>
                </div>
                <div class="card-actions row">
                    <a class="btn btn-flat" href="{% url 'events:detail' event.id %}">View</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
