{% extends "voting/base.html" %}
{% load crispy_forms_tags %}
{% block title %}Candidates{% endblock %}

{% block content %}
    <div class="container">
        {% if not voting_closed %}
            {% if request.user.is_officer and voting_open %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1 class="panel-title">Officer Panel</h1>
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal" method="post" action="{% url 'voting:list' %}">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <div class="control-group">
                                <div class="controls">
                                    <button type="submit" class="btn btn-primary">Run Election</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            {% endif %}
            {% if voting_open and has_not_voted %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1 class="panel-title">Actions</h1>
                    </div>
                    <div class="panel-body">
                        <div class="control-group">
                            <div class="controls">
                                <a href="{% url 'voting:vote' %}" class="btn btn-primary">Vote</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="panel panel-default">
            <div class="panel-body">
                <div>
                    {% for position, abrev_pos, has_winner, has_applied, is_applying_open, candidates in positions %}
                        <div>
                            <h3>{{ position }}</h3>
                            {% if not has_winner and not has_applied and is_applying_open %}
                                <a class="btn btn-primary" href="{% url 'voting:apply' abrev_pos %}">Apply Here</a>
                            {% endif %}
                            {% if not candidates %}
                                <h5>No candidates yet</h5>
                            {% else %}
                                <ul>
                                    {% for candidate in candidates %}
                                        <li>
                                            <a href="{% url 'voting:candidate_detail' candidate.position candidate.user.username %}">
                                                <h5>
                                                    {{ candidate.user.full_name }}
                                                    {% if candidate.has_won %}
                                                        - Won Position
                                                    {% endif %}
                                                </h5>
                                            </a></li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    {% endfor %}

                </div>
            </div>
        {% else %}
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Voting is Closed.</h3>
                </div>
            </div>
        {% endif %}
        </div>
    </div>
{% endblock %}
