{% extends "base.html" %}
{% load static %}
{% load account socialaccount %}

{% block content %}
    {% if not request.user.is_authenticated %}
        <div class="welcome text-center">
            <img src="{% static 'images/lan-crest.png' %}" width="25%" />
            <h2>Lambda Alpha Nu</h2>
            <p>The co-ed technology fraternity</p> 
            <a class="btn btn-primary" href="{% url 'about' %}">LEARN MORE</a>
            <a class="btn btn-primary" href="{% url 'account_signup' %}">APPLY</a>
            <a class="btn btn-primary" href="https://www.facebook.com/groups/1323210434392547/">RUSH GROUP</a>
        </div>    
    {% endif %}
    <div class="events">
        {% if event_list %}
            {% for event in event_list %}
                <div class="panel card container">
                    <div class="row">
                        <div class="card-content col-md-8 col-xs-7">
                            <h1 class="card-title">{{ event.title }}</h1>
                            <p>{{ event.location }}</p>
                            <p>{{ event.start_time }}</p>
                        </div>
                        <div class="card-media col-md-4 col-xs-1">
                            <img src="{{ event.image_url }}"/>
                        </div>
                    </div>
                    <div class="card-actions row">
                        <a class="btn btn-flat" href="{% url 'events:detail' event.id %}">View</a>
                    </div>
                </div>
            {% endfor %}
            {% if request.user.is_authenticated and not request.user.is_rushie %}
                <div class="container" style="margin-top: 20px;">
                    {% if not linked_slack %}
                        <div class="alert alert-info" role="alert" style="margin-bottom: 20px;">
                            <a href="{% url 'slack_auth' %}">Connect your Slack account</a> to automatically clear old files.
                        </div>
                    {% endif %}
                    <iframe src="https://calendar.google.com/calendar/embed?src=lambdaalphanu.org_tn5uvckv7fef3r17hugp8udqik%40group.calendar.google.com&ctz=America/Chicago" style="border: 0" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
                </div>
            {% endif %}
        {% else %}
            <div class="container text-center">
                {% if not request.user.is_authenticated or request.user.is_rushie %}
                    <h3>No upcoming events</h3>
                {% else %}
                    <div class="container" style="margin-top: 20px;">
                        {% if not linked_slack %}
                            <div class="alert alert-info" role="alert" style="margin-bottom: 20px;">
                                <a href="{% url 'slack_auth' %}">Connect your Slack account</a> to automatically clear old files.
                            </div>
                        {% endif %}
                        <iframe src="https://calendar.google.com/calendar/embed?src=lambdaalphanu.org_tn5uvckv7fef3r17hugp8udqik%40group.calendar.google.com&ctz=America/Chicago" style="border: 0" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
                    </div>
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock %}
