{% extends "base.html" %}
{% load static %}{% load i18n %}
{% block title %}LAN - Application{% endblock %}
{% block applications_list_tab %}active{% endblock %}
{% load crispy_forms_tags %}

{% block css %}
    <link href="{% static 'generated_css/sortable_base.min.css' %}" rel="stylesheet">
{% endblock %}

{% block extra-js %}
    <script src="{% static 'js/bootstrap-sortable.min.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1>{{ rushie.full_name }}</h1>
            </div>
            <div class="panel-body">
                <p class="text-center">
                    <img src="{{ rushie.get_gravatar_image_url }}" class="img-thumbnail"/>
                </p>
            </div>
            <table class="table">
                <tr>
                    <th>Gender</th>
                    <th>Concentration</th>
                    <th>Year</th>
                    <th>Email</th>
                </tr>
                <tr>
                    <td>{{ rushie.get_gender }}</td>
                    <td>{{ rushie.get_concentration }}</td>
                    <td>{{ rushie.graduation_date }}</td>
                    <td>{{ rushie.email }}</td>
                </tr>
            </table>
            <div class="panel-body">
                <h4>Why do you want to rush Lambda Alpha Nu?</h4>
                <p>{{ application.question_1 }}</p>
                <hr/>
                <h4>Talk about yourself in a couple of sentences.</h4>
                <p>{{ application.question_2 }}</p>
                <hr/>
                <h4>What is your major and why did you choose it?</h4>
                <p>{{ application.question_3 }}</p>
                <hr/>
                <h4>What do you do in your spare time?</h4>
                <p>{{ application.question_4 }}</p>
                <hr/>
                <h4>Talk about a current event in technology and why it interests you.</h4>
                <p>{{ application.question_5 }}</p>
                <hr/>
                <h4>Impress us</h4>
                <p>{{ application.question_6 }}</p>
                <hr/>
                <h4>If you were to work on a personal project this semester that you could put on your resume, what
                    would it be? (ex: an iOS app that is Tinder for dogs)</h4>
                <p>{{ application.question_7 }}</p>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">Review</h1>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" method="post" action="{% url 'applications:detail' application.id %}">
                    {% csrf_token %}
                    {#                    <div class="fieldWrapper">#}
                    {#                        {{ form.comment.errors }}#}
                    {#                        {{ form.comment.label_tag }}#}
                    {#                        {{ form.comment }}#}
                    {#                    </div>#}
                    {#                    <div class="fieldWrapper">#}
                    {#                        {{ form.rating.errors }}#}
                    {#                        {{ form.rating.label_tag }}#}
                    {#                        {{ form.rating }}#}
                    {#                    </div>#}
                    {{ form|crispy }}
                    <input type="hidden" name="application_id" value="{{ application.id }}"/>
                    <input type="hidden" name="review_username" value="{{ request.user.username }}"/>
                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">Events Attended</h1>
            </div>
            <div class="panel-body">
                <h1 class="text-center">{{ events_attended }}</h1>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">Average Rating</h1>
            </div>
            <div class="panel-body">
                <h1 class="text-center">{{ avg_rating }} / 5.00</h1>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">Average Board Rating</h1>
            </div>
            <div class="panel-body">
                <h1 class="text-center">{{ board_avg_rating }} / 5.00</h1>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">Average Member Rating</h1>
            </div>
            <div class="panel-body">
                <h1 class="text-center">{{ member_avg_rating }} / 5.00</h1>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">Average Anonymous Rating</h1>
            </div>
            <div class="panel-body">
                <h1 class="text-center">{{ anon_avg_rating }} / 5.00</h1>
            </div>
        </div>
        <div class="panel panel-default" role="tabpanel">
            <div class="panel-heading">
                <ul class="nav nav-tabs nav-justified" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#reviews" aria-controls="home" role="tab" data-toggle="tab">Board Reviews</a>
                    </li>
                    <li role="presentation">
                        <a href="#feedback" aria-controls="profile" role="tab" data-toggle="tab">Member Feedback</a>
                    </li>
                    <li role="presentation">
                        <a href="#anon_feedback" aria-controls="profile" role="tab" data-toggle="tab">Anonymous Feedback</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content">
                <br/>
                <div role="tabpanel" class="tab-pane active" id="reviews">
                    <ul class="list-group">
                        {% for review in reviews %}
                            {% if review.reviewer_user and review.reviewer_user.is_board %}
                                <li class="list-group-item">
                                    <h4>{{ review.reviewer_user.full_name }} <small>{{ review.rating }}</small></h4>
                                    {% if review.comment %}
                                        <p>{{ review.comment }}</p>
                                    {% else %}
                                        <p><i>No Comment</i></p>
                                    {% endif %}
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div role="tabpanel" class="tab-pane" id="feedback">
                    {% for review in reviews %}
                        {% if review.reviewer_user and not review.reviewer_user.is_board %}
                            <li class="list-group-item">
                                <h4>{{ review.reviewer_user.full_name }} <small>{{ review.rating }}</small></h4>
                                {% if review.comment %}
                                    <p>{{ review.comment }}</p>
                                {% else %}
                                    <p><i>No Comment</i></p>
                                {% endif %}
                            </li>
                        {% endif %}
                    {% endfor %}
                </div>
                <div role="tabpanel" class="tab-pane" id="anon_feedback">
                    {% for review in reviews %}
                        {% if not review.reviewer_user %}
                            <li class="list-group-item">
                                <h4>{{ review.rating }}</h4>
                                {% if review.comment %}
                                    <p>{{ review.comment }}</p>
                                {% else %}
                                    <p><i>No Comment</i></p>
                                {% endif %}
                            </li>
                        {% endif %}
                    {% endfor %}
                </div>
                <div role="tabpanel" class="tab-pane" id="events">
                    {% for event in events %}
                        <li class="list-group-item">
                            <h4>
                                {{ event.title }}
                            </h4>
                        </li>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
